<div class="p-4">
    <button (click)="fetchRestaurantDetails()" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600 align-middle mt-10">
      Load Restaurant Details
    </button>
  
    <div *ngIf="error" class="mt-4 text-red-500">
      {{ error }}
    </div>
  
    <div *ngIf="restaurantDetails.length > 0" class="mt-4">
        <h2 class="text-xl font-bold">Restaurant List</h2>
        <ul class="list-disc pl-5 mt-2">
          <li *ngFor="let restaurant of restaurantDetails" class="mb-4">
            <strong>{{ restaurant.name }}</strong> - {{ restaurant.restroType }}<br>
            Owner: {{ restaurant.ownerName }}<br>
            City: {{ restaurant.addressDetails.city }}<br>
            Street: {{ restaurant.addressDetails.streetName }}<br>
            Zipcode: {{ restaurant.addressDetails.pinCode }}<br>
            Contact: {{ restaurant.phone }}<br>
            Email: {{ restaurant.email }}
          </li>
        </ul>
      </div>
      
  </div>
  