<nav class="fixed-navbar blurred-background bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-black text-xl font-semibold">
      Resto
    </div>
    <ul class="text-gray-950 font-medium flex space-x-4">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/onboarding-form">Onboarding Form</a></li>
      <li><a routerLink="/restaurant-list">Restaurant List</a></li>
      <li><a routerLink="/book-table">Book a Table</a></li>
    </ul>
  </div>
</nav>
