<nav class="fixed-navbar blurred-background bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-black text-xl font-semibold">
      Resto
    </div>
    <ul class="text-gray-950 font-medium flex space-x-4">
      <li>
        <a routerLink="/home" class="hover:text-blue-500 transition duration-200">Home</a>
      </li>
      <li>
        <a routerLink="/onboarding" class="hover:text-blue-500 transition duration-200">Onboarding Form</a>
      </li>
      <li>
        <a routerLink="/list-resto" class="hover:text-yellow-400 transition duration-200">Restaurant List</a>
      </li>
      <li>
        <a routerLink="/book-table" class="bg-blue-500 text-white px-3 py-2 rounded-md hover:bg-blue-700 transition duration-200">Book a Table</a>
      </li>
    </ul>    
  </div>
</nav>
