:host {
    display: block;
    min-height: 100vh;
    background-image: url('../assets/bglist2.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }