<body class="h-screen bg-gray-200 flex items-center justify-center">
  <div class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50">
    <form class="bg-blur bg-white p-8 rounded-lg shadow-md w-full max-w-lg mt-14" [formGroup]="restroDetails" (ngSubmit)="openConfirmModal()">
      <h1 class="text-2xl font-bold mb-4">Restaurant Details</h1>
      <p class="mb-4">Provide your details below to attract customers!</p>
      <hr class="mb-4">
      <div class="mb-4">
        <label for="name" class="block text-sm font-bold mb-1">Name</label>
        <input type="text" id="name" name="name" class="w-full p-2 border border-gray-300 rounded" [formControl]="restroDetails.controls.name" required>
      </div>
      <div class="mb-4">
        <label for="owner" class="block text-sm font-bold mb-1">Owner Name</label>
        <input type="text" id="owner" name="owner" class="w-full p-2 border border-gray-300 rounded" [formControl]="restroDetails.controls.owner" required>
      </div>
      <div class="mb-4">
        <label for="type" class="block text-sm font-bold mb-1">Type</label>
        <input type="text" id="type" name="type" class="w-full p-2 border border-gray-300 rounded" [formControl]="restroDetails.controls.type" required>
      </div>
      <div class="mb-4">
        <label class="block text-sm font-bold mb-1">Address</label>
        <input type="text" id="street" name="street" placeholder="Street" class="w-full p-2 border border-gray-300 rounded mb-2" [formControl]="restroDetails.controls.address.controls.street">
        <input type="text" id="city" name="city" placeholder="City" class="w-full p-2 border border-gray-300 rounded mb-2" [formControl]="restroDetails.controls.address.controls.city">
        <input type="text" id="zipCode" name="zipCode" placeholder="Zipcode" class="w-full p-2 border border-gray-300 rounded" [formControl]="restroDetails.controls.address.controls.zipCode">
      </div>
      <div class="mb-4">
        <label class="block text-sm font-bold mb-1">Contact Details</label>
        <input type="text" id="phone" name="phone" placeholder="Contact Number" class="w-full p-2 border border-gray-300 rounded mb-2" [formControl]="restroDetails.controls.contact.controls.phone">
        <input type="email" id="email" name="email" placeholder="Email" class="w-full p-2 border border-gray-300 rounded" [formControl]="restroDetails.controls.contact.controls.email">
      </div>
      <button type="button" (click)="openConfirmModal()" class="w-full bg-blue-500 text-white p-2 rounded">Submit</button>
    </form>
  </div>
  <app-modal *ngIf="showModal" (confirm)="submitDetails()" (cancel)="closeModal()"></app-modal>
</body>
